[submodule "Plugins/XD_UnrealLibraryEx"]
	path = Plugins/XD_UnrealLibraryEx
	url = https://github.com/Eragon-Brisingr/XD_UnrealLibraryEx.git
[submodule "Plugins/XD_SaveGameSystem"]
	path = Plugins/XD_SaveGameSystem
	url = https://github.com/Eragon-Brisingr/XD_SaveGameSystem.git
[submodule "Plugins/XD_ItemSystem"]
	path = Plugins/XD_ItemSystem
	url = https://github.com/Eragon-Brisingr/XD_ItemSystem.git
[submodule "Plugins/XD_CampSystem"]
	path = Plugins/XD_CampSystem
	url = https://github.com/Eragon-Brisingr/XD_CampSystem.git
[submodule "Plugins/XD_TimeSystem"]
	path = Plugins/XD_TimeSystem
	url = https://github.com/Eragon-Brisingr/XD_TimeSystem.git
[submodule "Plugins/XD_EnvironmentSystem"]
	path = Plugins/XD_EnvironmentSystem
	url = https://github.com/Eragon-Brisingr/XD_EnvironmentSystem.git
[submodule "Plugins/XD_AssetsLibrary"]
	path = Plugins/XD_AssetsLibrary
	url = https://github.com/Eragon-Brisingr/XD_AssetsLibrary.git
[submodule "Plugins/XD_MovementComponentPlugin"]
	path = Plugins/XD_MovementComponentPlugin
	url = https://github.com/Eragon-Brisingr/XD_MovementComponentPlugin.git
[submodule "Plugins/XD_AI_SystemEx"]
	path = Plugins/XD_AI_SystemEx
	url = https://github.com/Eragon-Brisingr/XD_AI_SystemEx
[submodule "Plugins/XD_EventFlowSystem"]
	path = Plugins/XD_EventFlowSystem
	url = https://github.com/Eragon-Brisingr/XD_EventFlowSystem.git
[submodule "Plugins/XD_CharacterActionDispatcher"]
	path = Plugins/XD_CharacterActionDispatcher
	url = https://github.com/Eragon-Brisingr/XD_CharacterActionDispatcher
[submodule "Plugins/XD_DrawGizmo"]
	path = Plugins/XD_DrawGizmo
	url = https://github.com/Eragon-Brisingr/XD_DrawGizmo.git
[submodule "Plugins/AnimMirroring"]
	path = Plugins/AnimMirroring
	url = https://github.com/Eragon-Brisingr/AnimMirroring.git
[submodule "Plugins/XD_AnimNodes"]
	path = Plugins/XD_AnimNodes
	url = https://github.com/Eragon-Brisingr/XD_AnimNodes.git
[submodule "Plugins/XD_CustomCharacter"]
	path = Plugins/XD_CustomCharacter
	url = https://github.com/Eragon-Brisingr/XD_CustomCharacter.git
[submodule "Plugins/XD_AutoGenSequencer"]
	path = Plugins/XD_AutoGenSequencer
	url = https://github.com/Eragon-Brisingr/XD_AutoGenSequencer.git
[submodule "RawAssets"]
	path = RawAssets
	url = http://scarfskiynas.tpddns.cn:10080/Eragon/arpg_rawassets.git
[submodule "Content/ARPG_Game"]
	path = Content/ARPG_Game
	url = http://scarfskiynas.tpddns.cn:10080/Eragon/arpg_game.git
[submodule "Content/Developers/Eragon"]
	path = Content/Developers/Eragon
	url = http://scarfskiynas.tpddns.cn:10080/Eragon/arpg_developer_eragon.git
[submodule "Content/Developers/Scarfskiy"]
	path = Content/Developers/Scarfskiy
	url = http://scarfskiynas.tpddns.cn:10080/Eragon/arpg_developer_scarfskiy.git
