[submodule "Plugins/XD_UnrealLibraryEx"]
	path = Plugins/XD_UnrealLibraryEx
	url = https://github.com/Eragon-Brisingr/XD_UnrealLibraryEx.git
[submodule "Plugins/XD_SaveGameSystem"]
	path = Plugins/XD_SaveGameSystem
	url = https://github.com/Eragon-Brisingr/XD_SaveGameSystem.git
[submodule "Plugins/XD_GenericGraph"]
	path = Plugins/XD_GenericGraph
	url = https://github.com/Eragon-Brisingr/XD_GenericGraph.git
[submodule "Plugins/XD_ItemSystem"]
	path = Plugins/XD_ItemSystem
	url = https://github.com/Eragon-Brisingr/XD_ItemSystem.git
[submodule "Plugins/XD_CampSystem"]
	path = Plugins/XD_CampSystem
	url = https://github.com/Eragon-Brisingr/XD_CampSystem.git
[submodule "Plugins/XD_TimeSystem"]
	path = Plugins/XD_TimeSystem
	url = https://github.com/Eragon-Brisingr/XD_TimeSystem.git
[submodule "Plugins/XD_EnvironmentSystem"]
	path = Plugins/XD_EnvironmentSystem
	url = https://github.com/Eragon-Brisingr/XD_EnvironmentSystem.git
[submodule "Plugins/XD_AssetsLibrary"]
	path = Plugins/XD_AssetsLibrary
	url = https://github.com/Eragon-Brisingr/XD_AssetsLibrary.git
[submodule "Plugins/XD_MovementComponentPlugin"]
	path = Plugins/XD_MovementComponentPlugin
	url = https://github.com/Eragon-Brisingr/XD_MovementComponentPlugin.git
[submodule "RawAssets"]
	path = RawAssets
url=https://gitlab.com/eragon.xuduo/RawAssets.git
[submodule "Plugins/XD_AI_SystemEx"]
	path = Plugins/XD_AI_SystemEx
	url = https://github.com/Eragon-Brisingr/XD_AI_SystemEx
[submodule "Plugins/XD_EventFlowSystem"]
	path = Plugins/XD_EventFlowSystem
	url = https://github.com/Eragon-Brisingr/XD_EventFlowSystem.git
