[submodule "Plugins/XD_UnrealLibraryEx"]
	path = Plugins/XD_UnrealLibraryEx
	url = https://github.com/Eragon-Brisingr/XD_UnrealLibraryEx.git
[submodule "Plugins/XD_SaveGameSystem"]
	path = Plugins/XD_SaveGameSystem
	url = https://github.com/Eragon-Brisingr/XD_SaveGameSystem.git
[submodule "Plugins/XD_GenericGraph"]
	path = Plugins/XD_GenericGraph
	url = https://github.com/Eragon-Brisingr/XD_GenericGraph.git
[submodule "Plugins/XD_ItemSystem"]
	path = Plugins/XD_ItemSystem
	url = https://github.com/Eragon-Brisingr/XD_ItemSystem.git
[submodule "Plugins/XD_GameEventSystem"]
	path = Plugins/XD_GameEventSystem
	url = https://github.com/Eragon-Brisingr/XD_GameEventSystem.git
